.carrinho {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.carrinho-lista{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.carrinho-lista img {
    max-width: 150px;
}

.carrinho-lista li {
    display: flex;
    background-color: rgb(218, 218, 218);
}

.carrinho-item-text{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


#carrinho-item-menos,
#carrinho-item-mais {
    padding: 3px 12px;
    background-color: rgb(156, 156, 156);
}

.carrinho-item-text input{
    width: 50px;
    text-align: center;
}

.carrinho-item span{
    font-size: 24px;
}

.carrinho-resumo {
    background-color: rgb(218, 218, 218);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.carrinho-resumo > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.carrinho-resumo a {
    padding: 12px 16px;
    color: white;
    background-color: rgb(80, 138, 22);
    border-radius: 6px;
}