*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: 0px solid red;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header a{
    color: var(--text-primary-color);
}

form{
    padding: 8px 16px;
    background-color: rgb(247, 247, 247);
    border-radius: 3px;
}

#input-busca{
    padding: 6px 12px;
    border: none;
    background-color: rgb(247, 247, 247);
    font-size: 16px;
}

button{
    border: none;
}

input::placeholder {
    color: rgb(182, 182, 182);
    opacity: 1; /* Firefox */
}


/* HEADER */
header{
    background-color: var(--secondary-color);
    color: var(--text-primary-color);
}

.upper-header{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.upper-header ul,
.lower-header ul
{
    display: flex;
    gap: 40px;
}

.lower-header-bg,
.footer-bg{
    background-color: var(--primary-color);
}

.lower-header{
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-icon img{
    max-width: 40px;
}

.menu-icon{
    position: relative;
}

#qtd-carrinho{
    position: absolute;
    background-color: green;
    width: 22px;
    right: -10px;
    text-align: center;
    border-radius: 100%;
}

.logo{
    max-width: 100px;
}


/* main */
main{
    padding: 20px 0px;
    background-color: var(--background-color);
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.produtos-lista{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 20px;
}

.produto-item{
    overflow: hidden;
    padding: 3px;
    text-align: center;
}

.produto-item:hover img,
.banner:hover{
    opacity: 0.85;
}

.produto-item:hover .btn-add-carrinho{
    display: inline;
}

.produto-item span{
    color: rgb(8, 36, 192);
    font-size: 20px;
    font-weight: bold;
}

.produto-item p{
    color: var(--text-contrast-color);
    font-size: 16px;
    font-weight: bold;
}

.btn-add-carrinho{
    color: var(--text-primary-color);
    background-color: rgb(18, 158, 100);
    padding: 2px 16px;
    border-radius: 6px;
    display: none;
}





/* FOOTER */
.footer-wrapper{
    padding: 32px 0px;
    color: var(--text-primary-color);
    text-align: flex-start;
    display: flex;
    justify-content: space-between;
}

.footer-wrapper ul{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer-wrapper a{
    color: var(--text-secondary-color);
    text-decoration: none;
}


@media screen and (max-width: 800px) {
    .lower-header-bg{
        display: none;
    }
}